::-webkit-scrollbar {
    width: 2vmin;
    cursor: grab;
    
    &-track { background: $colorDefault; }
    &-thumb { background: $colorOrange; }
}

*{
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: $font;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background: #f4f4f4;
    
    .headerWrapper{
        background-image: 
            linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
            url('Background.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $gap;
        color: $colorOrange;
        height: 100vh;
        width: 100%;

        h1{ font-size: $titleSize; }
        h2{
            font-style: italic;
            font-weight: lighter;
            font-size: $headerSize; 
        }

        .headerBtnWrapper{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: $gap;
            
            button{
                border: none;
                font-size: $smallSize;
                font-weight: bold;
                color: $colorOrange;
                border: none;
                border-radius: $borderRadius;
                background-color: $colorWhite;
                cursor: pointer;
                padding: 2vmin 5vmin;
                margin-top: $margin;

                &:hover, &.active{
                    color: $colorWhite;
                    background-color: $colorOrange;
                }
            }
        }
    }

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $gap;
        color: $colorOrange;
        padding: $padding;

        h2{ font-size: $headerSize; }
        p{ font-size: $normalSize; }
    }

    .loadingText{
        color: $colorOrange;
        font-style: italic;
        font-size: $normalSize;
        text-align: center;
        margin: 20vmin;
    }

    .btnWrapper{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: $gap;
        height: fit-content;
        width: 50vmin;

        button{
            flex: 1;
            padding: 2vmin 5vmin;
            border-radius: $borderRadius;
            font-size: $smallSize;
            font-weight: bold;
            cursor: pointer;
            white-space: nowrap;
            border: 0.3vmin solid transparent;
            transition: $transition;
        }

        .authBtn, .switchBtn, .applyBtn, .addBtn, .submitBtn, .saveBtn, .modifyBtn{
            background-color: $colorOrange;
            color: $colorWhite;

            &:hover{
                border-color: $colorOrange;
                background-color: $colorWhite;
                color: $colorOrange;
            }
        }

        .backBtn, .cancelBtn{
            background-color: $colorRed;
            color: $colorWhite;

            &:hover{
                border-color: $colorRed;
                background-color: $colorWhite;
                color: $colorRed;
            }
        }
    }

    .navCrumb{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: $padding;
        background: $colorOrange;
        font-weight: bold;
        font-size: $normalSize;
        color: $colorWhite;

        .backCrumb, .activeCrumb{
            cursor: pointer;
            &:hover{ text-decoration: underline; }
        }

        em{
            color: $colorWhite;
            padding: 0 2vmin;
        }
    }

    nav{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $gap;
        background: transparent;
        height: 100%;
        z-index: 3000;

        .navbarHeader{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background: transparent;
            width: 100%;
            z-index: 3002;
            
            .titleText{
                display: flex;
                flex-direction: row;
                align-items: center;

                .fa-bars{
                    font-size: 3vmin;
                    color: $colorOrange;
                    background-color: $colorWhite;
                    border-bottom-right-radius: 50%;
                    padding: $padding;
                    cursor: pointer;
                    pointer-events: auto;
                    transition: $transition;

                    &.show{
                        color: $colorWhite; 
                        background-color: transparent; 
                    }
                }

                .navTitle{
                    display: none;
                    align-items: center;
                    gap: $gap;

                    img{
                        position: relative;
                        -webkit-user-drag: none;
                        height: auto;
                        width: 5vmin;
                    }

                    h2{
                        position: relative;
                        font-size: $subheaderSize;
                        color: $colorWhite;
                        margin: 0;
                    }

                    &.show{
                        display: flex;
                    }
                }
            }

            .welcomeWrapper{
                display: none;
                flex-direction: column;
                align-items: flex-start;
                font-weight: bold;
                font-size: $subheaderSize;
                color: $colorWhite;
                text-overflow: ellipsis;
                padding: 2vmin 4vmin;
                border-bottom: 1vmin dashed $colorLightOrange;
                width: 100%;

                &.show{ display: flex; }
            }
        }

        ul{
            display: none;
            flex-direction: column;
            list-style: none;
            border-top-right-radius: $borderRadius;
            transition: $transition;
            pointer-events: auto;
            z-index: 2000;

            &.show { display: flex !important; }

            li, #logoutLink{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: $gap;             
                width: 100%;
                padding: 0 4vmin;
                border-top-left-radius: $borderRadius;
                border-bottom-left-radius: $borderRadius;

                i{
                    font-size: $subheaderSize;
                    color: $colorWhite;
                    transition: $transition;
                    width: 2vmin;
                }
                
                a{
                    display: flex;
                    padding: $padding;
                    text-decoration: none;
                    font-size: $normalSize;
                    color: $colorWhite;
                    cursor: pointer;
                    white-space: nowrap;
                    width: 100%;
                    transition: $transition;
                }

                &:hover, &:focus {
                    position: relative;
                    background-color: $colorWhite;

                    i, a{ 
                        transform: translateX(4vmin);
                        color: $colorOrange;
                    }
                }
            }

            #logoutLink, #logoutLink{
                i, a{
                    font-weight: bold;
                    color: $colorRed; 
                }
                
                &:hover, &:focus {
                    background-color: $colorRed;

                    i, a{ 
                        transform: translateX(4vmin);
                        color: $colorWhite;
                    }
                }
            }
        }

        &.show{ 
            background: $colorOrange;
            box-shadow: $boxShadow;
        }
    }
}