#authContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    main{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-width: 100vmin;
        margin: $margin;

        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4vmin;
            color: $colorOrange;
            width: 100%;

            fieldset{
                display: grid;
                gap: $gap;
                padding: $padding;
                width: 100%;
                border: 0.5vmin dashed $colorOrange;

                div{ 
                    display: flex;
                    flex-direction: column;
                    gap: $gap; 
                }

                legend{
                    font-size: $subheaderSize;
                    font-weight: bold;
                    text-align: center;
                    padding: $padding;
                }

                label{
                    font-size: $normalSize;
                    font-weight: bold;
                    text-align: left;
                    width: 100%;

                    span{ color: $colorRed; }
                }

                input, select{
                    height: 5vmin;
                    width: 100%;
                    padding: 1.2vmin 1.5vmin;
                    border: 0.4vmin solid $colorOrange;
                    color: $colorBlack;
                    font-size: $smallSize;
                    outline: none;
                    transition: $transition;
                    resize: vertical;

                    &::placeholder{ opacity: 0.5; }

                    .default{
                        color: $colorGray;
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }

            .authField{ 
                grid-template-columns: repeat(2, auto);

                #login-username{ grid-area: 1 / 1 / 2 / 3; }
                #signup-username{ grid-area: 1 / 1 / 2 / 2; }
                #role{ grid-area: 1 / 2 / 2 / 3; }
                #login-password{ grid-area: 2 / 1 / 3 / 3; }
                #signup-password{ grid-area: 2 / 1 / 3 / 2; }
                #confirmPassword{ grid-area: 2 / 2 / 3 / 3; }
                #pin{ grid-area: 3 / 1 / 4 / 2; }
                #confirmPin{ grid-area: 3 / 2 / 4 / 3; }

                #login-password, #signup-password, #confirmPassword, #pin, #confirmPin{
                    position: relative;

                    i { 
                        font-size: $normalSize;
                        cursor: pointer;
                        position: absolute;
                        right: 2vmin;
                        bottom: 1.3vmin;
                    }
                }
            }

            .infoField{
                grid-template-columns: repeat(4, auto);

                #firstName { grid-area: 1 / 1 / 2 / 2; }
                #middleName { grid-area: 1 / 2 / 2 / 3; }
                #lastName { grid-area: 1 / 3 / 2 / 4; }
                #extName { grid-area: 1 / 4 / 2 / 5; }
                #email { grid-area: 2 / 1 / 3 / 3; }
                #contactNumber { grid-area: 2 / 3 / 3 / 5; }
            }
        }
    }
}