#authContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    main{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-height: 80vmin;
        min-width: 100vmin;
        margin: $margin;

        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4vmin;
            color: $colorOrange;
            width: 100%;

            fieldset{
                display: grid;
                gap: $gap;
                padding: $padding;
                width: 100%;
                border: 0.5vmin dashed $colorOrange;

                div{ 
                    display: flex;
                    flex-direction: column;
                    gap: $gap; 
                }

                legend{
                    font-size: $subheaderSize;
                    font-weight: bold;
                    text-align: center;
                    padding: $padding;
                }

                label{
                    font-size: $normalSize;
                    font-weight: bold;
                    text-align: left;
                    width: 100%;

                    span{ color: $colorRed; }
                }

                input, select{
                    font-size: $normalSize;
                    border: 0.4vmin solid $colorOrange;
                    width: 100%;
                    padding: $padding;

                    .default{
                        color: $colorGray;
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }

            .authField{ 
                grid-template-columns: repeat(2, auto);

                #username{ grid-area: 1 / 1 / 2 / 3; }
                #password{ grid-area: 2 / 1 / 3 / 3; }
                #pin{ grid-area: 3 / 1 / 4 / 2; }
                #role{ grid-area: 3 / 2 / 4 / 3; }
            }

            .infoField{
                grid-template-columns: repeat(4, auto);

                #firstName { grid-area: 1 / 1 / 2 / 2; }
                #middleName { grid-area: 1 / 2 / 2 / 3; }
                #lastName { grid-area: 1 / 3 / 2 / 4; }
                #extName { grid-area: 1 / 4 / 2 / 5; }
                #email { grid-area: 2 / 1 / 3 / 3; }
                #contactNumber { grid-area: 2 / 3 / 3 / 5; }
            }
        }

        .btnWrapper{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: $gap;
            padding: $padding;
            height: fit-content;
            width: 100vmin;

            button{
                flex: 1;
                padding: 2vmin;
                border-radius: $borderRadius;
                font-size: $smallSize;
                font-weight: bold;
                cursor: pointer;
                border: 0.5vmin solid $colorWhite;
                transition: $transition;
            }

            .authBtn, .switchBtn{
                border-color: $colorOrange;
                background-color: $colorWhite;
                color: $colorOrange;

                &:hover{
                    background-color: $colorOrange;
                    color: $colorWhite;
                }
            }

            .backBtn{
                border-color: $colorRed;
                background-color: $colorWhite;
                color: $colorRed;

                &:hover{
                    background-color: $colorRed;
                    color: $colorWhite;
                }
            }
        }
    }
}