#terminateLeaseContainer{
    margin: $margin;

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $gap;
        padding: $padding;
        width: 100%;

        fieldset{
            display: flex;
            flex-direction: column;
            gap: $gap;
            color: $colorOrange;
            padding: $padding;
            margin: $margin;
            border: 0.5vmin dashed $colorLightOrange;
            max-width: 100vmin;
            width: 100%;

            legend{
                font-size: $subheaderSize;
                font-weight: bold;
                text-align: center;
                padding: 0 $padding 0 $padding;
            }
            small{ margin-bottom: $margin;}

            label{
                font-size: $normalSize;
                font-weight: bold;
                span{ color: #d63030; }
            }
            
            textarea{
                width: 100%;
                padding: 1vmin;
                border: 0.4vmin solid $colorOrange;
                color: $colorBlack;
                font-size: $smallSize;
                outline: none;
                transition: $transition;
                resize: vertical;

                &::placeholder{ opacity: 0.5; }

                .default{
                    color: $colorGray;
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}