$titleSize: 10vmin;
$headerSize: 4vmin;
$subheaderSize: 3vmin;
$normalSize: 2.2vmin;
$smallSize: 1.6vmin;
$font: verdana;

$colorDefault: #f4f4f4;
$colorWhite: #fff;
$colorOrange: #ffa200;
$colorLightOrange: #ffc35b;
$colorRed: #d63030;
$colorGray: #888;
$colorBlack: #000;

$padding: 2.8vmin;
$margin: 2.8vmin;
$gap: 1.8vmin;
$borderRadius: 3.5vmin;
$boxShadow: 0 5px 10px rgba(0, 0, 0, 0.1);
$transition: 0.2s ease-in-out;