$titleSize: 10vmin;
$headerSize: 4vmin;
$subheaderSize: 3vmin;
$normalSize: 2.2vmin;
$smallSize: 1.6vmin;
$font: verdana;

$colorWhite: #fff;
$colorOrange: #ffa200;
$bgColorWhite: #fff;
$bgColorOrange: #ffa200;

$padding: 2.8vmin;
$margin: 2.8vmin;
$gap: 1.8vmin;
$borderRadius: 3.5vmin;
$boxShadow: 0 5px 10px rgba(0, 0, 0, 0.1);
$transition: 0.2s ease-in-out;