#viewProfileContainer{
    margin: $margin;

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $gap;

        fieldset{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: $gap;
            padding: $padding;
            width: 100vmin;
            border: 0.5vmin dashed $colorLightOrange;

            legend{
                color: $colorOrange;
                font-size: $subheaderSize;
                font-weight: bold;
                text-align: center;
                padding: 0 $padding 0 $padding;
            }

            .columnGroup{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: $gap;
                width: 100%;

                .rowGroup{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    gap: 4vmin;
                    width: 100%;
                    
                    strong, p{
                        flex: 1;
                        font-size: $smallSize;
                    }

                    strong{ text-align: right; }
                }
            }
        }
    }
}