#viewDetailsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap;
    padding: $padding;

    .fullDetailsView{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: $gap;
        margin: $margin;

        .propertyInfo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 0.5vmin solid $colorOrange;
            width: 100%;
            max-width: 100vmin;
            
            .fullGalleryWrapper{
                width: 100%;
                overflow: hidden;
                flex-shrink: 0;
            }

            .columnGroup{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: $padding;
                width: 100%;

                h3{
                    font-style: italic;
                    font-weight: normal;
                }
            }

            .rowGroup{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: $gap;
                background-color: $bgColorOrange;
                color: $colorWhite;
                padding: $padding;
                width: 100%;

                .priceLabel, .statusLabel, .tenantLabel{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: $gap;
                    width: 100%;
                }
            }
        }

        .propertyDetails{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 5vmin;
            padding: $padding;
            width: 100%;
            max-width: 100vmin;

            .description{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: $gap;

                h3{ 
                    font-size: $subheaderSize;
                    color: $colorOrange; 
                }

                p{ font-size: $normalSize; }
            }

            .rooms, .amenities{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: $gap;

                h3{ 
                    font-size: $subheaderSize;
                    color: $colorOrange; 
                }

                .pillRow{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: $gap;

                    .bedroom, .bathroom, .kitchen, .otherRooms, .amenities{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: $gap;
                        font-size: $normalSize;
                        color: $colorWhite;
                        background-color: $colorOrange;
                        border-radius: $borderRadius;
                        padding: 1vmin 2vmin;
                    }
                }
            }

            .occupants{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 8vmin;
                width: 100%;

                .columnGroup{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: $gap;

                    h3{ 
                        font-size: $subheaderSize;
                        color: $colorOrange; 
                    }

                    .pill{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: $gap;
                        color: $colorWhite;
                        background-color: $colorOrange;
                        border-radius: $borderRadius;
                        padding: 1vmin 2vmin;
                        width: 100%;
                    }
                }
            }
        }
    }

    .actionBtnWrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: $gap;
        height: fit-content;
        width: 100vmin;

        button{
            flex: 1;
            padding: 2vmin;
            border-radius: $borderRadius;
            font-size: $smallSize;
            font-weight: bold;
            cursor: pointer;
            border: 0.3vmin solid $colorWhite;
            transition: $transition;
        }

        .applyBtn{
            background-color: rgba(255, 162, 0);
            color: $colorWhite;

            &:hover{
                background-color: rgba(255, 162, 0, 0.2);
                color: $colorOrange;
            }
        }

        .backBtn{
            background-color: rgba(214, 48, 48);
            color: $colorWhite;

            &:hover{
                background-color: rgba(214, 48, 48, 0.2);
                color: rgba(214, 48, 48, 0.6);
            }
        }
    }
}