.fullDetailsView{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: $gap;

    .propertyInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $gap;
        width: 100%;
        min-width: 100vmin;
        
        .fullGalleryView{
            height: 100vmin;
            width: 100%;
            overflow: hidden;
            flex-shrink: 0;
        }
    }
}