#viewProfileContainer{
    margin: $margin;

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $gap;

        fieldset{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: $gap;
            padding: $padding;
            width: 100vmin;
            border: 0.5vmin dashed $colorOrange;

            legend{
                color: $colorOrange;
                font-size: $subheaderSize;
                font-weight: bold;
                text-align: center;
                padding: $padding;
            }

            .columnGroup{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: $gap;
                width: 100%;

                .rowGroup{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    gap: 4vmin;
                    width: 100%;
                    
                    strong, p{
                        flex: 1;
                        font-size: $normalSize;
                    }

                    strong{ text-align: right; }
                }
            }
        }

        .actionBtnWrapper{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: $gap;
            height: fit-content;
            width: 50vmin;

            button{
                flex: 1;
                padding: 2vmin;
                border-radius: $borderRadius;
                font-size: $smallSize;
                font-weight: bold;
                cursor: pointer;
                border: 0.3vmin solid $colorWhite;
                transition: $transition;
            }

            .modifyBtn{
                background-color: rgba(255, 162, 0);
                color: $colorWhite;

                &:hover{
                    background-color: rgba(255, 162, 0, 0.2);
                    color: $colorOrange;
                }
            }

            .backBtn{
                background-color: rgba(214, 48, 48);
                color: $colorWhite;

                &:hover{
                    background-color: rgba(214, 48, 48, 0.2);
                    color: rgba(214, 48, 48, 0.6);
                }
            }
        }
    }
}